@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1E40AF;
  --secondary: #93C5FD;
  --background: #F0F9FF;
  --foreground: #1E3A8A;
  --section: #DBEAFE;
  --inactive: #94A3B8;
  --tabIndicator: #1E40AF;
  --subtitle: #475569;
  --danger: #EF4444;
  --skeleton: #E0E7FF;
  --vnpt-blue: #1E40AF;
  --vnpt-header: #1E3A8A;
  --card-border: #3B82F6;
}
